# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.vs/
.vscode/
Thumbs.db

# debug
npm-debug.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
